<footer class="footer">
    <div class="content has-text-centered">
        <p>Lets connect on:</p>
        <p>
            <span class="icon-text">
                <span class="icon">
                    <i class="fab fa-twitter"></i>
                </span>
                <span><a href="{{ .Site.Params.twitter }}">Twitter</a></span>
            </span>
            <span class="icon-text">
                <span class="icon">
                    <i class="fab fa-stack-overflow"></i>
                </span>
                <span><a href="{{ .Site.Params.stackoverflow }}">StackOverflow</a></span>
            </span>
            <span class="icon-text">
                <span class="icon">
                    <i class="fab fa-linkedin"></i>
                </span>
                <span><a href="{{ .Site.Params.linked }}">LinkedIn</a></span>
            </span>
            <span class="icon-text">
                <span class="icon">
                    <i class="fab fa-github"></i>
                </span>
                <span><a href="{{ .Site.Params.github}}">GitHub</a></span>
            </span>
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-envelope"></i>
                </span>
                <span><a href="{{ .Site.Params.email }}">Email</a></span>
            </span>
        </p>
    </div>
</footer>
<script src="/js/search.js"></script>